{% extends 'base.html' %}

{% block content %}
<h2 style="text-align:center">{{ search | title}}</h2>

<div class="row">
{% for post in final_postings %}
    <div class="col s4">
    <div class="card">
        <div class="card-image">
            <a href="{{ post.1 }}"><img src="{{ post.3 }}" alt=""></a>
        </div>
        <div class="card-content">
            <p>{{ post.0 }}</p>
        </div>
        <div class="card-action">
            <a href="{{ post.1 }}">View listing: Price {{ post.2 }}</a>
        </div>
    </div>
</div>
{% endfor %}
</div>

<!--<div class="col s4">-->
<!--    <div class="card">-->
<!--        <div class="card-image">-->
<!--            <a href="/"><img src="https://cdn.motor1.com/images/mgl/OO2gX/s1/tesla-model-3-driving-on-road-with-sun-set.jpg" alt=""></a>-->
<!--        </div>-->
<!--        <div class="card-content">-->
<!--            <p>TEST</p>-->
<!--        </div>-->
<!--        <div class="card-action">-->
<!--            <a href="/">View listing: TEST PRICE</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="col s4">-->
<!--    <div class="card">-->
<!--        <div class="card-image">-->
<!--            <a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmyPl8utwNlIyEvniRRvY2Eql0b0mLCLHq9g&usqp=CAU" alt=""></a>-->
<!--        </div>-->
<!--        <div class="card-content">-->
<!--            <p>TEST</p>-->
<!--        </div>-->
<!--        <div class="card-action">-->
<!--            <a href="/">View listing: TEST PRICE</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="col s4">-->
<!--    <div class="card">-->
<!--        <div class="card-image">-->
<!--            <a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5IQrr1xe340ceIYFzrYSn6JhD89gFJyxacA&usqp=CAU" alt=""></a>-->
<!--        </div>-->
<!--        <div class="card-content">-->
<!--            <p>TEST</p>-->
<!--        </div>-->
<!--        <div class="card-action">-->
<!--            <a href="/">View listing: TEST PRICE</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->
{% endblock content %}
